.padre {
    width: 100%;
    margin: auto;
}
.cajitas1 {
    width: 100%;
    height: 64.4rem;
    display: flex;
    justify-content: center;
}
.cajitas1 img {
    width: 15.9rem;
    height: 9.4rem;
    display: flex;
    margin-top: 14.2rem;
}
.cajitas2 {
    width: 100%;
}
.cajitas2 button {
    width: 37.4rem;
    height: 5.6rem;
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1.8rem;
    background-color: black;
    justify-content: center;
}
.cajitas2 a {
    display: flex;
    margin-top: 0.9rem;
    font-size: 2.39rem;
    font-weight: 700;
    color: white;
}
.cajitas3 {
    width: 100%;
    margin-top: 1.6rem;
}
.cajitas3 button {
    width: 37.4rem;
    height: 5.6rem;
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: white;
    border-radius: 1.8rem;
    justify-content: center;
}
.cajitas3 a {
    display: flex;
    margin-top: 0.9rem;
    font-size: 2.39rem;
    font-weight: 700;
    color: black;
}
.cajitas4 {
    width: 100%;
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
}